Projekt.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT pokedex (type)+>
<!ATTLIST type typ CDATA #REQUIRED>
<!ELEMENT type (pokemon)+>
<!ATTLIST pokemon id CDATA #REQUIRED>
<!ELEMENT pokemon (species, height, weight, firstapp)>
<!ELEMENT species (#PCDATA)>
<!ELEMENT height (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT firstapp (#PCDATA)>